[submodule "lain"]
	path = lain
	url = https://github.com/copycat-killer/lain.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious/
[submodule "obvious"]
	path = obvious
	url = git@github.com:hoelzro/obvious.git
